# Evaluation of their forecast

In [1]:
import pandas as pd
import numpy as np

In [2]:
load = pd.read_csv('../input/load.csv')

In [12]:
def normalize(x):
    return (x - x.min())/(x.min()-x.max())
def mse(actual,forecast):
    return ((actual-forecast)**2).mean()

In [13]:
actual,forecast = normalize(load['actual'].values),normalize(load['forecast'].values)

In [14]:
mse(actual=actual, forecast=forecast)

0.018035641723349451

In [17]:
howmany_days = 30
load.iloc[:96*howmany_days].to_csv('../input/sample_load.csv', index=False)

In [25]:
load.loc[load['actual']==19344]

,date,from,to,actual,forecast
14241,2010-05-29 00:00:00,2010-05-29 08:15:00,2010-05-29 08:30:00,19344.0,19705.0
23685,2010-09-04 00:00:00,2010-09-04 17:15:00,2010-09-04 17:30:00,19344.0,18982.0
34408,2010-12-25 00:00:00,2010-12-25 10:00:00,2010-12-25 10:15:00,19344.0,20618.0
35909,2011-01-10 00:00:00,2011-01-10 01:15:00,2011-01-10 01:30:00,19344.0,17150.0
41106,2011-03-05 00:00:00,2011-03-05 04:30:00,2011-03-05 04:45:00,19344.0,20525.0
76033,2012-03-03 00:00:00,2012-03-03 00:15:00,2012-03-03 00:30:00,19344.0,18424.0
79104,2012-04-04 00:00:00,2012-04-04 00:00:00,2012-04-04 00:15:00,19344.0,19476.0
79203,2012-04-05 00:00:00,2012-04-05 00:45:00,2012-04-05 01:00:00,19344.0,18724.0
112229,2013-03-15 00:00:00,2013-03-15 01:15:00,2013-03-15 01:30:00,19344.0,20081.0
133288,2013-10-20 00:00:00,2013-10-20 10:00:00,2013-10-20 10:15:00,19344.0,18466.0
142469,2014-01-24 00:00:00,2014-01-24 01:15:00,2014-01-24 01:30:00,19344.0,18595.0
148088,2014-03-23 00:00:00,2014-03-23 14:00:00,2014-03-23 14:15:00,19344.0,20109.0
152348,2014-05-06 00:00:00,2014-05-06 23:00:00,2014-05-06 23:15:00,19344.0,20209.0
179707,2015-02-15 00:00:00,2015-02-15 22:45:00,2015-02-15 23:00:00,19344.0,19638.0
180009,2015-02-19 00:00:00,2015-02-19 02:15:00,2015-02-19 02:30:00,19344.0,18518.0
181157,2015-03-03 00:00:00,2015-03-03 01:15:00,2015-03-03 01:30:00,19344.0,18737.0
182016,2015-03-12 00:00:00,2015-03-12 00:00:00,2015-03-12 00:15:00,19344.0,19353.0
184607,2015-04-07 00:00:00,2015-04-07 23:45:00,2015-04-08 00:00:00,19344.0,18844.0
227380,2016-06-26 00:00:00,2016-06-26 13:00:00,2016-06-26 13:15:00,19344.0,18293.0
227982,2016-07-02 00:00:00,2016-07-02 19:30:00,2016-07-02 19:45:00,19344.0,18196.0
234675,2016-09-10 00:00:00,2016-09-10 12:45:00,2016-09-10 13:00:00,19344.0,20462.0
238740,2016-10-22 00:00:00,2016-10-22 21:00:00,2016-10-22 21:15:00,19344.0,19814.0
238836,2016-10-23 00:00:00,2016-10-23 21:00:00,2016-10-23 21:15:00,19344.0,19672.0
248741,2017-02-04 00:00:00,2017-02-04 01:15:00,2017-02-04 01:30:00,19344.0,19482.0
263022,2017-07-02 00:00:00,2017-07-02 19:30:00,2017-07-02 19:45:00,19344.0,19478.0